fastapi
fastapi-mcp
uvicorn
python-dotenv
pinecone
nemoguardrails
langchain
langchain-groq
langgraph
groq
dspy
pydantic
httpx
pandas
scikit-learn
numpy
tiktoken
python-multipart
tavily-python
asyncio
datasets